<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Coding Template</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

  <body> 
    <div>
      <h1>String Manipulation</h1>
      <input id="TextInput">
      <select id="Convert">
        <option>Upper Case</option>
        <option>Lower Case</option>
      </select>
      <button id="Manipulate">Do it!</button>
    </div>
  
    <div id="content"></div>

  <!-- VUE -->

  <!-- <div id="app">
  <h1>String manipulations</h1>
     <input v-model="inputWords" placeholder="Write a sentence here">
      <select v-model="ChangeCase" name="ChangeCase">
        <option value="Upper">Upper case</option>
        <option value="Lower">Lower case</option>
      </select>
      <button v-on:click="ConvertCase()">Do it!</button>
      <div>{{show}}</div>
  </div> -->
  
  

  <script src="bundle.js"></script>
</body>
</html>
